body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.sidebar {
  width: 250px;
  background-color: #0f172b;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.sidebar a.active {
  background-color: #fea116; /* Màu nền khi được chọn */
  color: white; /* Màu chữ khi được chọn */
}

.sidebar h2 {
  color: #fff;
  margin-top: 0;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #fea116;
  color: black;
}

.content {
  margin-left: 250px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

/* CSS cho nút Thêm  */
.btn-add {
  font-weight: bold;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-add:hover {
  background-color: #fea116;
  color: black;
}
/* CSS cho Modal Thêm  */

/* Lớp overlay mờ */
/* Lớp overlay mờ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
  z-index: 999; /* Đảm bảo nền mờ ở trên tất cả */
  display: none; /* Ẩn lớp overlay ban đầu */
}

/* Modal Thêm Món ăn */
.addModal {
  position: absolute;
  right: -400px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001; /* Modal sẽ hiển thị trên overlay */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 400px;
  height: 100%;
  animation: slideIn 1s forwards;
  display: none;
}

/* Animation trượt vào khi mở */
@keyframes slideIn {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}

/* Animation trượt vào khi đóng */
@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -450px;
  }
}

/* Lớp để áp dụng animation khi đóng modal */
.addModal.closing {
  animation: slideOut 1s forwards;
}

.modal-footer {
  position: absolute;
  bottom: 50px; /* Căn cách phần dưới cùng */
  left: 20px; /* Cách mép trái */
  width: calc(100% - 40px); /* Đảm bảo chiều rộng phù hợp */
  display: flex; /* Để các nút nằm trên cùng một hàng */
  justify-content: flex-end; /* Đẩy nút về phía bên phải */
  gap: 10px; /* Khoảng cách giữa các nút */
}

.addModal h2 {
  margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và ô nhập */
}

.addModal label {
  font-weight: bold; /* Chữ đậm cho nhãn */
  margin-bottom: 5px; /* Khoảng cách dưới nhãn */
  display: block; /* Đảm bảo nhãn nằm trên ô nhập */
}

.addModal input,
.addModal textarea,
.addModal select {
  width: calc(100% - 22px); /* Giảm chiều rộng để có khoảng cách bên */
  padding: 10px;
  margin-bottom: 15px; /* Khoảng cách giữa các ô nhập */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Đổ bóng cho ô nhập */
  transition: border-color 0.3s; /* Hiệu ứng chuyển tiếp cho đường viền */
}

.addModal input:focus,
.addModal textarea:focus {
  border-color: #007bff; /* Màu đường viền khi ô nhập được chọn */
  outline: none; /* Tắt viền mặc định */
}

.addModal button {
  background-color: #007bff; /* Màu nền cho nút */
  color: #fff; /* Màu chữ */
  border: none; /* Bỏ viền */
  border-radius: 4px; /* Bo góc cho nút */
  padding: 10px 15px; /* Khoảng cách bên trong nút */
  cursor: pointer; /* Hiển thị con trỏ chuột khi hover */
  transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */
}

.addModal button:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

.addModal button.cancelBtn {
  background-color: #dc3545; /* Màu nền cho nút hủy */
}

.addModal button.cancelBtn:hover {
  background-color: #c82333; /* Màu nền khi hover cho nút hủy */
}
/* CSS cho Modal Xoa */

.deleteModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px; /* Bo góc cho modal */
  width: 400px; /* Độ rộng của modal */
  animation: slideUp 0.5s ease-out;
}
.deleteModal.closing {
  animation: slideDown 0.5s ease-out;
}

.deleteModal h2 {
  margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và văn bản */
}

.deleteModal button {
  background-color: #000; /* Màu nền cho nút */
  color: white; /* Màu chữ */
  border: none; /* Bỏ viền */
  border-radius: 4px; /* Bo góc cho nút */
  padding: 10px 15px; /* Khoảng cách cho nút */
  cursor: pointer; /* Con trỏ chuột khi hover */
  transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */
}

.deleteModal button:hover {
  background-color: #fea116; /* Màu nền khi hover */
  color: #000;
}

#MenuTable td:nth-child(4) {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
/* CSS cho Modal Sửa  */
.editModal {
  position: absolute;
  right: -400px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001; /* Modal sẽ hiển thị trên overlay */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 400px;
  height: 100%;
  animation: slideIn 1s forwards;
  display: none;
}
.editModal.closing {
  animation: slideOut 1s forwards;
}

.editModal h2 {
  margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và ô nhập */
  font-size: 18px;
}
.editModal h3 {
  font-weight: normal;
  font-size: 25px;
}

.editModal label {
  font-weight: bold; /* Chữ đậm cho nhãn */
  margin-bottom: 5px; /* Khoảng cách dưới nhãn */
  display: block; /* Đảm bảo nhãn nằm trên ô nhập */
}

.editModal input,
.editModal textarea,
.editModal select {
  width: calc(100% - 22px); /* Giảm chiều rộng để có khoảng cách bên */
  padding: 10px;
  margin-bottom: 15px; /* Khoảng cách giữa các ô nhập */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Đổ bóng cho ô nhập */
  transition: border-color 0.3s; /* Hiệu ứng chuyển tiếp cho đường viền */
}

.editModal input:focus,
.editModal textarea:focus {
  border-color: #007bff; /* Màu đường viền khi ô nhập được chọn */
  outline: none; /* Tắt viền mặc định */
}

.editModal button {
  background-color: #007bff; /* Màu nền cho nút */
  color: #fff; /* Màu chữ */
  border: none; /* Bỏ viền */
  border-radius: 4px; /* Bo góc cho nút */
  padding: 10px 15px; /* Khoảng cách bên trong nút */
  cursor: pointer; /* Hiển thị con trỏ chuột khi hover */
  transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */
}

.editModal button:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

.editModal button.cancelBtn {
  background-color: #dc3545; /* Màu nền cho nút hủy */
}

.editModal button.cancelBtn:hover {
  background-color: #c82333; /* Màu nền khi hover cho nút hủy */
}

/* CSS cho fullname  */

/* CSS cho Modal Thông báo */

/* Animation để modal đi từ dưới lên */
@keyframes slideUp {
  0% {
    opacity: 0; /* Ẩn ban đầu */
    transform: translate(-50%, 100%); /* Bắt đầu từ dưới màn hình */
  }
  100% {
    opacity: 1; /* Hiện ra đầy đủ */
    transform: translate(-50%, -50%); /* Kết thúc ở giữa màn hình */
  }
}

@keyframes slideDown {
  0% {
    opacity: 1; /* Hiện ra đầy đủ */
    transform: translate(-50%, -50%); /* Bắt đầu ở giữa màn hình */
  }
  100% {
    opacity: 0; /* Ẩn dần */
    transform: translate(-50%, 100%); /* Kết thúc ở dưới màn hình */
  }
}

/* Notification Modal */
.notificationModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  width: 500px;

  animation: slideUp 0.5s ease-out; /* Thêm hiệu ứng animation */
}
.notificationModal.closing {
  animation: slideDown 0.6s ease-out;
}

.notificationModal h2 {
  margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và văn bản */
  font-size: 18px;
}
.notificationModal h3 {
  font-weight: normal;
  font-size: 25px;
}

.notificationModal button {
  background-color: #000; /* Màu nền cho nút */
  color: white; /* Màu chữ */
  border: none; /* Bỏ viền */
  border-radius: 4px; /* Bo góc cho nút */
  padding: 10px 15px; /* Khoảng cách cho nút */
  cursor: pointer; /* Con trỏ chuột khi hover */
  transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */
}

.notificationModal button:hover {
  background-color: #fea116; /* Màu nền khi hover */
  color: #000;
}

/* Wrapper chính */
.stats-wrapper {
  display: flex;
  gap: 20px; /* Khoảng cách giữa hai container */
}

/* Container bên trái */
.stats-left {
  flex: 3; /* Tỉ lệ chiều rộng so với container bên phải */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats-left .small-stats {
  display: flex;
  gap: 20px; /* Khoảng cách giữa "Doanh số" và "Số lượng đơn hàng" */
}

/* Container bên phải */
.stats-right {
  flex: 2; /* Chiếm ít không gian hơn */
}

/* Hộp tổng quan */
.stat-box {
  background-color: #f5f5f5; /* Màu nền nhạt */
  border: 1px solid #ddd; /* Viền */
  border-radius: 8px; /* Bo tròn góc */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
}
/* Căn chỉnh nội dung trong p */
.stat-box p {
  margin: 0; /* Loại bỏ khoảng cách bên ngoài */
  display: flex; /* Sử dụng Flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between; /* Đẩy các phần tử sang hai bên */
  margin-bottom: 20px; /* Khoảng cách giữa các dòng */
}

/* Tên khách hàng nằm bên trái */
.topCustomerName {
  font-weight: bold; /* Làm nổi bật tên khách hàng */
  color: #333; /* Màu chữ */
  margin-right: auto; /* Đẩy sang bên trái */
  text-align: left;
}

/* Số tiền nằm bên phải */
.topCustomer {
  color: #076d7d; /* Màu sắc cho phần tiền */
  font-weight: bold; /* In đậm */
  margin-left: auto; /* Đẩy sang bên phải */
  text-align: right;
}

.topMenuName {
  font-weight: bold; /* Làm nổi bật tên khách hàng */
  color: #333; /* Màu chữ */
  margin-right: auto; /* Đẩy sang bên trái */
  text-align: left;
}

/* Số tiền nằm bên phải */
.topMenu {
  color: #076d7d; /* Màu sắc cho phần tiền */
  font-weight: bold; /* In đậm */
  margin-left: auto; /* Đẩy sang bên phải */
  text-align: right;
}

/* Hộp Tổng quan lớn hơn */
.stat-box.overview {
  height: 200px; /* Chiều cao cố định để đồng đều */
}

/* Hộp nhỏ */
.stat-box:not(.overview) {
  flex: 1; /* Đảm bảo Doanh số và Đơn hàng có cùng kích thước */
  text-align: center;
}
/* Cột chứa 3 phần tử */
.col-12.col-md-6 {
  display: flex;
  flex-direction: column;
}

#chartContainer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
  padding: 20px;
  text-align: center;
}

#revenueChart {
  width: 100%;
  height: 500px;
}

.top-dishes {
  margin-top: 20px;
}

#topDishesTable {
  width: 100%;
  border-collapse: collapse;
}

#topDishesTable th,
#topDishesTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#topDishesTable th {
  background-color: #f2f2f2;
}

/* Định dạng vòng tròn xếp hạng */
.rank-circle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  margin-right: 8px;
}

/* Màu sắc cho các hạng */
.rank-1 {
  background-color: red;
}

.rank-2 {
  background-color: yellow;
  color: black;
  /* Màu chữ đen để dễ đọc trên nền vàng */
}

.rank-3 {
  background-color: green;
}
.rank-4 {
  background-color: purple;
}
.rank-5 {
  background-color: blue;
}

.display {
  border-radius: 10px; /* Bạn có thể điều chỉnh giá trị này theo ý muốn */
  overflow: hidden; /* Đảm bảo nội dung không vượt ra ngoài góc bo tròn */
  border: 1px solid #ddd; /* Thêm đường viền cho bảng */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff !important;
}
.dataTables_filter {
  margin-bottom: 20px; /* Tạo khoảng cách phía dưới */
}
.divider {
  width: 1px; /* Độ rộng của gạch dọc */
  background-color: #ccc; /* Màu của gạch dọc */
  height: 30px; /* Chiều cao của gạch dọc */
  margin: 0 10px; /* Khoảng cách giữa các nút */
  display: inline-block;
  vertical-align: middle; /* Căn giữa với các nút */
}
#btn-edit:hover {
  color: #fea116;
}
#btn-delete:hover {
  color: #fea116;
}
#MenuTable .mo-ta {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Dành cho trình duyệt hỗ trợ -webkit */
  display: box; /* Dành cho trình duyệt không hỗ trợ -webkit */
  box-orient: vertical; /* Dành cho trình duyệt không hỗ trợ -webkit */
  line-clamp: 4; /* Phiên bản chuẩn */
  overflow: hidden;
  text-overflow: ellipsis; /* Thêm dấu ba chấm khi bị cắt */
}
.blocked-row {
  background-color: #ec5959 !important; /* Màu nền cho các hàng Blocked */
  color: #ffffff; /* Màu chữ cho các hàng Blocked */
}
.blocked-row td:nth-child(1), /* Cột Table Number trong hàng */
.blocked-header {
  background-color: #ec5959 !important; /* Màu nền cho cột Table Number */
  color: #ffffff; /* Màu chữ cho cột Table Number */
}

/* CSS cho bảng lịch */
.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table td {
  width: 14.28%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
}

.calendar-table .work-day {
  background-color: red;
  color: white;
}

.calendar-table td:hover {
  background-color: #f1f1f1;
}

#cancelVWDBtn {
  position: absolute;
  bottom: 50px;
  right: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#cancelVWDBtn:hover {
  background-color: #45a049;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.time-option {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0 20px;
}
