#confirmDeleteModal2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px; /* Bo góc cho modal */
    width: 400px; /* Độ rộng của modal */
}
#confirmDeleteModal2 h2 {
    margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và văn bản */
}

#confirmDeleteBtn2 {
    background-color: #000; /* Màu nền cho nút */
    color: white; /* Màu chữ */
    border: none; /* Bỏ viền */
    border-radius: 4px; /* Bo góc cho nút */
    padding: 10px 15px; /* Khoảng cách cho nút */
    cursor: pointer; /* Con trỏ chuột khi hover */
    transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */
}

    #confirmDeleteModal2 button:hover {
        background-color: #FEA116; /* Màu nền khi hover */
        color:#000;
    }
#cancelDeleteBtn2 {
        background-color: #000; /* Màu nền cho nút */
        color: white; /* Màu chữ */
        border: none; /* Bỏ viền */
        border-radius: 4px; /* Bo góc cho nút */
        padding: 10px 15px; /* Khoảng cách cho nút */
        cursor: pointer; /* Con trỏ chuột khi hover */
        transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */
    }
    
        #cancelDeleteBtn2 button:hover {
            background-color: #FEA116; /* Màu nền khi hover */
            color:#000;
        }

        .editModal button#cancelEditCustomerBtn {
            background-color: #dc3545; /* Màu nền cho nút hủy */
        }

        .editModal button#cancelEditCustomerBtn:hover {
            background-color: #c82333; /* Màu nền khi hover cho nút hủy */}

        
